@model List<Reto.Models.Ciudad>

<h1>Ciudades</h1>
<table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var city in Model)
		{
					<tr>
						<td>@Html.DisplayFor(m=>city.Nombre)</td>
					</tr>
		}
	</tbody>
</table>