@model List<Reto.Models.Departamento>

<h1>Departamentos</h1>
<table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var dept in Model)
		{
				<tr>
					<td>@Html.DisplayFor(m=>dept.Nombre)</td>
				</tr>
		}
	</tbody>
</table>