@{
    ViewData["Title"] = "Home Page";
}
<section class="main-container">
  <div class="index-intro">
      <div class="container">
          <div class="jumbotron">
              <div class="row">
                  <div class="col-sm-8">
                      <h1 class="title">Salones Empresariales</h1>
                      <h3 class="">X Y Z</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

